<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">                
                <resource id="Hexcrypto_Task::task" title="Task" sortOrder="10">
                        <resource id="Hexcrypto_Task::task_edit" title="Edit Task" sortOrder="10" />
                        <resource id="Hexcrypto_Task::task_save" title="Save Task" sortOrder="20" />
                        <resource id="Hexcrypto_Task::task_delete" title="Delete Task" sortOrder="30" />
                </resource>  
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">                            
                                <resource id="Hexcrypto_Task::configurtion" title="Task Configurations" />                            
                        </resource>
                    </resource>
                </resource>                    
            </resource>
        </resources>
    </acl>
</config>

